@charset "utf-8";

// base.scss
body {
  background-color: $color-white;
  color: $color-drak-glay;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  line-height: 1.7;
}
