@charset "utf-8";

/* --------------------------------------------------------
  　_base.scss
  -------------------------------------------------------- */

/* --------------------------------------------------------
  　ベース設定
  -------------------------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background-color: $color-white;

  color: $color-drak-glay;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}
p {
  font-size: 1.6rem;
}

/* --------------------------------------------------------
    ページレイアウト
  -------------------------------------------------------- */
