@charset "utf-8";

/* --------------------------------------------------------
    _variables.scss
-------------------------------------------------------- */

/* --------------------------------------------------------
   メデイアクエリ
-------------------------------------------------------- */
$pc: 2001px; //横幅いっぱいにしている画像のmax-widthの値を設定
$tab: 1020px; // .containerのmax-widthと左右のpaddingを加算した値を設定
$sp: 767px;

/* --------------------------------------------------------
    カラー
-------------------------------------------------------- */
$color-white: #ffffff;
$color-light-glay: #f9f9f9;
$color-glay: #afafaf;
$color-glay02: #777777;
$color-glay03: #797979;
$color-drak-glay: #333333;
$color-red: #ae0009;

/* --------------------------------------------------------
    フォント
-------------------------------------------------------- */
