@charset "utf-8";

// variables.scss


// カラー
$color-white: #ffffff;
$color-light-glay: #F9F9F9;
$color-glay: #AFAFAF;
$color-glay02: #777777;
$color-glay03: #797979;
$color-drak-glay: #333333;
$color-red: #AE0009;

// フォント

