@charset "utf-8";

// ファイルをインポート
@import "variables", "mixin", "base";


/* 共通 */
.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
.section {
  &__title {
    font-weight: 600;
    font-size: 40px;
    text-align: center;

    @include sp {
        font-size: 26px;
    }
  }
}


/* header */
.header {
  background-color: $color-white;
  width: 100%;
  padding: 0 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  @include sp {
    padding: 0 15px;
  }

  &__inner {
    height: 60px;
    display: flex;
    align-items: center;
    vertical-align: middle;

    @include sp {
      height: 50px;
    }
  }
  &__logo-link:hover {
    opacity: .8;
    transition: all .5s;
  }
  &__image {
    width: 100%;
    max-width: 100px;
    height: 36px;

    @include sp {
      max-width: 70px;
      height: 25px;
    }
  }
  &__pc-nav {
    margin-left: auto;

    @include sp {
      display: none;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    font-size: 18px;
    line-height: 44px;
    height: 44px;
  }
  &__nav-link {
    padding: 0 18px;
    display: block;
    transition: all .5s;

    &:hover {
      color: $color-red;
    }
  }
  &__contact-link {
    color: $color-white;
    background-color: $color-red;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .5s;
    margin-top: -1px;/* 上下border分のズレを補正し中央に配置（outlineでも可） */
    margin-left: 30px;

    &:hover {
      background-color: $color-white;
      color: $color-red;
      border: 1px solid $color-red;
    }
  }
}

//sp-nav ハンバーガーメニュー
.sp-nav {
  display: none;

  @include sp {
    display: block;
  }
}

@include sp {

  .sp-nav {
    margin-left: auto;

    &__drawer {
      position: relative;
    }
    &__unshown {/* チェックボックスを非表示にする */
      display:none;
    }
    &__open {/* アイコンスペース */
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
    }
    &__icon,
    &__icon:before,
    &__icon:after {/* ハンバーガーアイコン */
      position: absolute;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: $color-drak-glay;
      display: block;
      content: '';
      cursor: pointer;
    }
    &__icon:before {
      bottom: -8px;
    }
    &__icon:after {
      bottom: -16px;
    }
    &__close {/* アイコン選択後にまた閉じるためのグレースペース */
      display: none;/* 初期設定では非表示にする */
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-drak-glay;
      opacity: 0;
      transition: .3s ease-in-out;
    }
    &__content {/* アイコン選択後のコンテンツ表示スペース */
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 90%;/* 閉じるためのグレースペース表示枠を残しておく */
      max-width: 330px;/* 最大幅（調整してください）*/
      height: 100%;
      background: $color-white;
      transition: .3s ease-in-out;
      transform: translateX(-105%);/* アイコン選択前は画面左外に隠しておく */
    }
    #sp-nav__input:checked ~ .sp-nav__close {/* アイコン選択時に表示される */
      display: block;
      opacity: .5;
    }
    #sp-nav__input:checked ~ .sp-nav__content {/* アイコン選択時に表示される */
      transform: translateX(0%);/* 左から右へ表示される*/
      box-shadow: 5px 0 50px rgba(0,0,0,.2);
    }
    &__item {
      padding: 15px 0;
      border-bottom: 1px solid $color-glay;
    }
    &__link {
      font-size: 24px;
      margin: 0 10px;
      transition: all .5s;

      &:hover {
        color: $color-red;
      }
    }
  }
}


/* hero */
.hero {
  background-image: url(../image/bg/bg_hero.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 60px auto 0;
  width: 100%;
  max-width: 2000px;
  height: 47.2vw;
  max-height: 945px;
  position: relative;

  @include sp {
    margin: 50px auto 0;
    height: 513px;
    background-position: 75% 50%;
  }
  &__title {
    width: 21.1%;
    max-width: 270px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include sp {
      width: 150px;
    }
  }
}


// introduction
.introduction {
  padding: 100px 50px 100px;

  @include sp {
    padding: 100px 50px 60px;
  }
  &__title {
    font-weight: 600;
    font-size: 32px;
    text-align: center;

    @include sp {
        font-size: 20px;
    }
  }
  &__lead {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;

    @include sp {
      font-size: 14px;
      margin-top: 42px;
    }

  }
}


// cat1
.cat1 {
  background-color: $color-light-glay;
  padding: 96px 50px 100px;

  @include sp {
    padding: 70px 15px 50px;
  }
  &__list {
    margin-top: 74px;

    @include sp {
      margin-top: 50px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;

    @include sp {
      display: block;
    }
    &:not(:nth-of-type(1)) {
      margin-top: 100px;

      @include sp {
        margin-top: 60px;
      }
    }
    &:nth-of-type(even) {
      flex-flow: row-reverse;
    }
  }
  &__figure {
    width: 45.9%;

    @include sp {
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
    }
  }
  &__image {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
  &__block {
    width: 46.9%;

    @include sp {
      width: 100%;
      max-width: 450px;
      margin: 40px auto 0;
      }
  }

  &__title {
    font-weight: 600;
    font-size: 26px;
    padding-bottom: 10px;
    border-bottom: 3px solid $color-red;

    @include sp {
      font-size: 20px;
    }
  }

  &__description {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-ideograph;
    margin-top: 30px;

    @include sp {
      font-size: 16px;
      margin-top: 18px;
    }
  }
}


// cat2
.cat2 {
  padding: 96px 50px 100px;

  @include sp {
    padding: 70px 15px 153px;
  }
  &__list {
    margin-top: 74px;
    display: flex;
    justify-content: space-between;

    @include sp {
      margin-top: 50px;
      display: block;
    }
  }
  &__card {
    width: 30.6%;

    @include sp {
      width: 300px;
      margin: 0 auto;
    }

    &:not(:nth-of-type(1)) {
      @include sp {
        margin-top: 48px;
      }
    }
  }
  &__image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  &__caption {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-ideograph;
    margin-top: 20px;

    @include sp {
      margin-top: 18px;
    }
  }
}


// image-section
.image-section {
  background-image: url(../image/bg/bg_cat-07.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 2000px;
  height: 431px;
  margin: 0 auto;

  @include sp {
    background-image: url(../image/bg/bg_cat-07-sp.jpg);
    height: 403px;
  }
  &__inner {
    height: 431px;/* 子要素のY座標を設定するために指定 */
    position: relative;

    @include sp {
      height: 403px;
    }
  }
  &__block {
    width: 500px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    @include sp {
      width: 100%;
      padding: 0 15px;
      right: initial;
    }
  }
  &__text {
    color: $color-white;
    font-size: 18px;

    @include sp {
      font-size: 16px;
      text-align: justify;
      text-justify: inter-ideograph;
    }

    &:not(:nth-of-type(1)) {
      margin-top: 40px;

      @include sp {
        margin-top: 30px;
      }
    }
  }
}


// cat3
.cat3 {
  padding: 96px 50px 100px;

  @include sp {
    padding: 70px 15px 80px;
  }

  &__list {
    margin-top: 74px;

    @include sp {
      margin-top: 49px;
    }
  }
  &__item {
    border-top: 1px solid $color-glay02;

    &:nth-last-of-type(1) {
      border-bottom: 1px solid $color-glay02;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 8px 0;
    transition: all .5s;

    @include sp {
      padding: 10px 0;
    }

    &:hover {
      opacity: .8;
    }

    @include sp {
      display: block;
    }
  }
  &__group {
    display: flex;
    align-items: center;
  }
  &__time {
    font-weight: 600;
    font-size: 16px;

    @include sp {
      font-size: 14px;
    }
  }
  &__category {
    color: $color-red;
    font-size: 16px;
    text-align: center;
    width: 84px;
    padding: 0 2px;
    border: 1px solid $color-red;
    margin-left: 20px;

    @include sp {
      font-size: 14px;
    }
  }
  &__text {
    font-size: 16px;
    margin-left: 36px;

    @include sp {
      font-size: 14px;
      text-align: justify;
      text-justify: inter-ideograph;
      margin-top: 15px;
      margin-left: initial;
    }
  }
  &__button {
    margin-top: 40px;
    text-align: center;

    @include sp {
      margin-top: 31px;
    }
  }
  &__button-link {
    display: inline-block;
    background-color: $color-red;
    color: $color-white;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 33px;
    transition: all .5s;

    @include sp {
      padding: 6px 28px;
    }

    &:hover {
      background-color: $color-white;
      color: $color-red;
      border: 1px solid $color-red;
    }
  }
}


/* jQuery スムーススクロール トップへ戻る */
#js-scroll-top {
  position: fixed;
  bottom: 60px;
  right: 40px;

  @include sp {
    bottom: 15px;
    right: 15px;
  }
}

.js-scroll-top__link {
  background-color: $color-red;
  color: $color-white;
  font-size: 35px;
  padding: 10px 18px;
  border-radius: 4px;

  @include sp {
    font-size: 28px;
    padding: 8px 16px;
  }
}

.fa-angle-up {
  color: $color-white;
}


/* footer */
.footer {

  &__main {
    background-color: $color-glay;
    padding: 70px 50px 82px;

    @include sp {
      padding: 55px 15px 36px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;

    @include sp {
      display: block;
    }
  }
  &__item {
    width: 30.6%;

    @include sp {
      width: 100%;
    }

    &:not(:nth-of-type(1)) {
      @include sp {
        margin-top: 42px;
      }
    }
  }
  &__text-head {
    color: $color-white;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 9px;
    border-bottom: 1px solid $color-white;

    @include sp {
      font-size: 14px;
      padding-bottom: 13.5px;
    }
  }
  &__text-list {
    margin-top: 28px;
    padding-left: 1em;

    @include sp {
      margin-top: 20.5px;
    }
  }
  &__text-item {
    color: $color-white;
    font-size: 16px;
    list-style-type: disc;

    @include sp {
      font-size: 14px;
    }

    &:not(:nth-of-type(1)) {
      margin-top: 3px;
    }
  }
  &__copylight {
    background-color: $color-glay03;
    padding: 18px 50px;

    @include sp {
      padding: 11px 15px;
    }
  }
  &__text {
    color: $color-white;
    font-size: 12px;
    display: block;
    text-align: center;
  }
}

