@charset "UTF-8";
/* 共通 */
.body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.section__title {
  font-weight: 600;
  font-size: 36px;
  color: #555555;
  text-align: center;
}

@media (max-width: 767px) {
  .section__title {
    font-size: 30px;
  }
}

.section__title--under {
  padding-bottom: 12px;
  border-bottom: 5px solid #51a2bc;
}

@media (max-width: 767px) {
  .section__title--under {
    border-bottom: 3px solid #51a2bc;
  }
}

.button {
  display: inline-block;
  font-size: 18px;
  line-height: 42px;
  /* 上下の線幅を引いた値を入力 */
  color: #51a2bc;
  padding: 0 44px 0 37px;
  height: 48px;
  border: 3px solid #51a2bc;
  border-radius: 24px;
  margin-top: 32px;
}

@media (max-width: 767px) {
  .button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* header */
.header {
  width: 100%;
  background-color: #fff;
  padding: 0 50px;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.header__inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .header__inner {
    height: 88px;
    flex-direction: column;
    justify-content: center;
  }
}

.header__logo {
  vertical-align: middle;
}

@media (max-width: 767px) {
  .header__image {
    max-width: 180px;
    height: auto;
  }
}

.header__nav {
  width: 218px;
}

@media (max-width: 767px) {
  .header__nav {
    margin-top: 18px;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header__list {
    font-size: 16px;
  }
}

.header__item {
  font-size: 18px;
  color: #51a2bc;
  letter-spacing: 1px;
}

.header__link:hover {
  opacity: .8;
}

/* hero */
.hero {
  background-image: url(../image/bg/bg-main-visual.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 2000px;
  height: 46.8vw;
  /* 縦横比：100:46.8 */
  max-height: 936px;
  margin: 60px auto 0;
  /* 固定ヘッダーの高さ60pxを設定 */
}

@media (max-width: 767px) {
  .hero {
    height: 96vw;
    /* min-height: 360px; */
    margin: 88px auto 0;
  }
}

/* ability */
.ability {
  padding: 78px 50px 40px;
}

@media (max-width: 767px) {
  .ability {
    padding: 70px 15px 40px;
  }
}

.ability__list {
  padding: 45px 6.1% 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 990px) {
  .ability__list {
    flex-wrap: nowrap;
  }
}

@media (max-width: 767px) {
  .ability__list {
    flex-direction: column;
    align-items: center;
  }
}

.ability__item {
  padding-top: 50px;
}

@media (max-width: 990px) {
  .ability__item:not(:first-of-type) {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .ability__item:not(:first-of-type) {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .ability__item:first-child {
    padding-top: 25px;
  }
}

@media (max-width: 990px) {
  .ability__image {
    max-width: 220px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .ability__image {
    max-width: 200px;
  }
}

.ability__title {
  font-weight: 600;
  font-size: 32px;
  color: #51a2bc;
  text-align: center;
  padding-top: 18px;
}

@media (max-width: 767px) {
  .ability__title {
    font-size: 28px;
    padding-top: 12px;
  }
}

.ability__description {
  font-weight: 500;
  font-size: 20px;
  color: #555555;
  text-align: center;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .ability__description {
    font-size: 16px;
    padding-top: 12px;
  }
}

/* about */
.about {
  padding: 78px 50px 40px;
}

@media (max-width: 767px) {
  .about {
    padding: 60px 15px 40px;
  }
}

.about__box {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
}

@media (max-width: 767px) {
  .about__box {
    flex-direction: column;
    justify-content: center;
    margin-top: 55px;
  }
}

.about__item {
  margin-right: 125px;
}

@media (max-width: 990px) {
  .about__item {
    margin-right: 8vw;
  }
}

@media (max-width: 767px) {
  .about__item {
    margin-right: 0;
    text-align: center;
  }
}

.about__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.7;
  color: #555555;
  text-align: left;
  margin-top: calc( ((32px * 1.7) - 32px) / -2);
  /* 上の不要な余白を詰める */
}

@media (max-width: 767px) {
  .about__title {
    font-size: 26px;
    text-align: center;
  }
}

@media (max-width: 990px) {
  .about__br {
    display: none;
  }
}

@media (max-width: 767px) {
  .about__br {
    display: block;
  }
}

.about__description {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.6;
  color: #555555;
  text-align: left;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .about__description {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .about__figure {
    margin: 50px auto 0;
  }
}

.about__image {
  max-width: 450px;
  width: 100%;
  height: auto;
}

/* footer */
.footer {
  width: 100%;
  background-color: #d5d5d5;
  margin-top: 60px;
}

@media (max-width: 767px) {
  .footer {
    margin-top: 20px;
  }
}

.footer__text {
  display: block;
  /* smallはインライン要素のためブロック要素に変更 */
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  line-height: 50px;
  height: 50px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer__text {
    line-height: 40px;
    height: 40px;
  }
}
