@charset "utf-8";

/* --------------------------------------------------------
    _variables.scss
-------------------------------------------------------- */

/* --------------------------------------------------------
   メデイアクエリ
-------------------------------------------------------- */
$pc: 1050px;
$tab: 768px;
$sp: 559px;

/* --------------------------------------------------------
    カラー
-------------------------------------------------------- */
$colorWhite: #ffffff;
$colorBlack01: #282f35;
$colorBlack02: #171717;
$colorYellow: #f7d43f;
